@font-face {
    font-family: 'Adelphe';
    src: url(fonts/Adelphe-FructidorRegular.otf);
}

@font-face {
    font-family: 'Adelphe';
    src: url(fonts/Adelphe-FructidorItalic.otf);
    font-style: italic;
}
 
@font-face {
    font-family: 'Adelphe';
    src: url(fonts/Adelphe-FructidorSemiBold.otf);
    font-weight: bold;
}
 
@font-face {
    font-family: 'Adelphe';
    src: url(fonts/Adelphe-FructidorSemiBoldItalic.otf);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'DeutscheNormalschriftOT';
    src: url(fonts/DeutscheNormalschrift.woff);

}

:root {
    font-family: 'Adelphe';

}

body {
    margin: 0;
    background-color: rgb(78, 91, 117);

    color: white;
}

#intro {
    font-size: 1.7em;
    margin-top: 0;

    
}

/* generalites*/

section {
    margin: 0;
    margin-left:3vw ;
    margin-right: 3vw;
    width: 35vw;
    margin-top: 5vh;
    padding-bottom: 11vh;
}

h1:not(.titresouspartie) {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 2em;
}

#infos {
    font-size: 2em;
    bottom: 5vh;
    left: 5vh;


}


a:visited {
    color: white;
}

a:hover {
    color: rgb(171, 185, 214);
}

#infos span {
    position: fixed;
    bottom: 0;
    left: 4vh;
    padding-bottom: 4vh;
    padding-top: 1vh;
    background-color: rgb(78, 91, 117);
    
}

#infos span:hover::after {
    content: attr(aria-label);  /* on affiche aria-label */
    position: absolute;
    top: -4em;
    left: 0em;
    width: 25vw;
    z-index: 1; /* pour s'afficher au dessus des éléments en position relative */
    background-color: rgb(171, 185, 214);
    padding: 0.5em;
    color:  rgb(78, 91, 117);
    font-size: 0.80em;


}

#list1,  #list2, #list3 {
     /*à changer en none!!! */
    display: none;
    width: 25vw;
    list-style: decimal-leading-zero;
}



button.partie {
    font-size: 3em;
    font-family: 'Adelphe';
    font-weight: bold;
    background-color: rgb(136, 24, 24, 0);
    border: none;
    color: rgb(255, 249, 254);
    font-family: 'DeutscheNormalschriftOT';

}

/* contenu des sous parties (div a droite)*/

.contenu-sous-partie {
         /*à changer en none!!! */
    display: none;
    position: fixed;
    overflow: scroll;
    width: 50vw;
    height: 93vh;
    right: 0;
    top: 1.75vw;
    margin-bottom: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    border-left: solid black 1px;    
}

.contenu-sous-partie li {
    list-style-type: "⁖ ";
    margin-bottom: 1em;

}
.close {
    position:fixed;
    left: 41.5vw;
    top: 1vw;
    width: 1.5vw;
    height: 1.5vw;
    background-color: rgba(255, 0, 0, 0);
    border: none;
    font-size: 2.5em;
    color: rgb(25, 27, 32);
}



h1, h3 {
    margin-top: 0;
}

p, ul:not(.listesouspartie) {
    color: white;
    font-size: 23px;
}

h2 {
    text-decoration: underline 1.5px;
    text-underline-offset: 0.15em;
    font-family: 'DeutscheNormalschriftOT';
    font-size: 2.5em;
    margin-top: 1em;
}


blockquote {
    border-left: dotted rgb(171, 185, 214) 3px;
    padding-left: 1em;
}

.objectif {
    color: rgb(25, 27, 32);
    font-size: 1.9em;
    font-weight: bold;
}
/* notes */

span {
    font-size: 0.6em;
}